<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= talk.user.name %>
    </div>
    <div class="message-date">
      <%= l talk.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= talk.content %>
    </div>
      <%= image_tag talk.image.variant(resize: '500x500'), class: 'message-image' if talk.image.attached? %>
  </div>
</div>
