<div class="wrapper">
  <div class="side-bar">
    <%= render "users/side_index" %>
  </div>
    <%= render "side_talk" %>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>
<div class="footer">
  <p>©️ Travelers</p>
</div>