<div class='wrapper'>
  <div class='side-bar'>
    <%= render "users/side_index" %>
  </div>
  <div class="rooms-list">
    <div class="room-list">
      <div class="room-message">
        <h1>メッセージ</h1>
      </div>
      <h3 class="message-now">やりとり中のお相手</h3>
      <ul>
        <li>
          <% current_user.rooms.each do |room| %>
            <%= link_to room.name, room_talks_path(room), class: 'room-name-btn' %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="room-info">
    </div>
  </div>
</div>
<div class="footer">
  <p>©️ Travelers</p>
</div>