h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #2e8b57;
  font-size: 15px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  padding: 8px 8px;
  padding-right: 10px;
}

i {
  padding: 10px;
}
.rooms-list {
  display: flex;
  height: calc(100vh - 40px);
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.room-list {
  height: calc(100vh - 40px);
  display: block;
  flex: 0 0 320px;
  border-right: 1px solid rgb(214, 215, 216);
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 300px;
  overflow: auto;
  z-index: 161;
}
.room-message {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 56px 24px 16px;
  border-bottom: 1px solid rgb(214, 215, 216);
}
.message-now {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  padding: 20px 24px 8px;
}
.room-name-btn {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.chat-room-form {
  width: 980px;
  margin-top: 100px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-room-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  float: right;
  width: 70%;
}

.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 500px;
  height: 50px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors {
  display: contents;
}
