.wrapper {
  display: flex;
  position: relative;
  width :100%;
  margin-left: 150px;
  margin-right: 200px;
}

.side-bar {
  background-color: #FFFFFF;
  width: 250px;
  border-right: 1px solid rgb(214, 215, 216);
}

/* ルーム名リスト */
.login-room {
  width: 100%;
  font-size: 20px;
}

.create-room a{
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 14px;
  text-decoration: none;
  border: 1px solid white;
}

.side-user-index {
  height: calc(100vh - 100px);
  width: 300px;
  overflow: scroll;
  justify-content: space-between;
  text-align: center;
}

.chat {
  position: absolute;
  left: 300px;
  background-color: #FFFFFF;
  height: calc(100vh - 40px);
}
.rooms {
  padding: 20px, 20px;
  overflow: scroll;
  justify-content: space-between;
  text-align: center;
}
.message-form {
  position: absolute;
  bottom: 0;
  width: 800px;
}

.room-upper {
  height: 50%;
}
.room-upper-name {
  font-size: 20px;
  color: rgb(117, 107, 89);
}

.room-under {
  height: 50%;
  position: relative;
}
.room-img {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 100%;
  min-height: 100%;
}

.room-name a {
  text-decoration: none;
  color: rgb(62, 68, 72);
}

.chat {
  position: relative;
}
.talks {
  width: 800px;
  background-color: #FAFAFA;
  height: calc(100vh - 90px - 40px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.talk {
  margin: 10px 0 0 0;
}
.message {
  overflow: scroll;
}

.upper-talk{
  display: flex;
}

.talk-user {
  color: #434a54;
  font-size: 16px;
}

.talk-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-talk {
  margin-top: 10px;
}

.talk-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

/* 検索フォーム・ボタン */

form input,form textarea {
  /* margin: 5px 0 15px; */
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

/* form input[type="submit"]:hover {
  background-color: #84d3ef;
  cursor: pointer;
} */
.search-form {
  text-align: center;
  padding-top: 32px;
}

.search-form .search-input {
  width: 400px;
  height: 50px;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 100px;
  height: 50px;
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  cursor: pointer;
  cursor: hand;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

.form-talk {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  cursor: pointer;
  cursor: hand;
}

.form-image {
  font-size: 12px;
  background-color: gray;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

.hidden {
  display: none;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .wrapper {
    width :90%;
    height :100%;
  }
}

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .wrapper {
    width :90%;
    height :100%;
  }
}
