.wrapper {
  display: flex;
}

.side-bar {
  background-color: #FFFFFF;
  width: 850px;
  /* height: 100vh; */
  /* position: fixed; */
}

/* 上部バー部分 */
.side-bar-header {
  height: 70px;
  padding: 0 20px;
  background-color: #13202F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  padding-bottom: 10px; 
  font-size: 20px;
  color: #FAFAFA;
  text-decoration: none;
}
.side-logo__img {
  position: absolute;
  top: 10px;
  left: 300px;
}

.chat-header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #F7E160;
  text-align: center;
}

.chat-header-title {
  display: inline-block;
  color: rgb(117, 107, 89);
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
  padding-left: 60px;
  font-family: "游ゴシック", "YuGothic";
}
.header-title p {
  display: inline-block;
}

/* ログインユーザー名プルダウン */
.login-user {
  width: 100%;
  font-size: 20px;
}
.login-user-lists {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  cursor: hand;
}
.red{
  background-color: #182D46;
}
.show-lists{
  width: 137px;
  position: absolute;
  top: 70px;
  background-color: #ffffff;
  z-index: 1;
}
.background-red{
  color: white;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
}
.pull-down-list{
  padding: 15px 35px 15px 15px;
  border: 1px solid #eee;
  background-color: #13202F;
  cursor: pointer;
  cursor: hand;
}
.pull-down-list a {
  font-size: 13px;
  padding: 0,0,0,40px;
}

/* ルーム名リスト */
.login-room {
  width: 100%;
  font-size: 20px;
}
.login-room-lists {
  color: #756B59;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  cursor: hand;
}
.yellow {
  background-color: #F7E160;
}
.room-show-lists{
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #ffffff;
  color: #756B59;
  z-index: 1;
}
.background-yellow{
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
}
.room-pull-down-list{
  width: 255px;
  padding: 15px 35px 15px 15px;
  border: 1px solid #ccb950;
  background-color: #FAFAFA;
  cursor: pointer;
  cursor: hand;
}
.room-pull-down-list a {
  color: #756B59;
  font-weight: bolder;
  font-size: 15px;
  padding: 0,0,0,40px;
}


.create-room a{
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 14px;
  text-decoration: none;
  border: 1px solid white;
}

.side-user-index {
  height: calc(100vh - 100px);
  padding: 20px, 20px;
  overflow: scroll;
  justify-content: space-between;
  text-align: center;
}

.rooms {
  background-color: #F7E160;
  height: calc(100vh - 100px);
  padding: 20px, 20px;
  overflow: scroll;
  /* display: flex; */
  justify-content: space-between;
  text-align: center;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 850px);
}

.right-header {
  padding: 10px;
}
.header-button {
  padding: 13px;
  font-weight: bold;
}

.header-button a {
  font-size: 10px;
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 14px;
}


.room-upper {
  height: 50%;
}
.room-upper-name {
  font-size: 20px;
  color: rgb(117, 107, 89);
}

.room-under {
  height: 50%;
  position: relative;
}
.room-img {
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 100%;
  min-height: 100%;
}

.room-name a {
  text-decoration: none;
  color: white;
}




.talks {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.talk {
  margin: 10px 0 0 0;
}

.upper-talk{
  display: flex;
}

.talk-user {
  color: #434a54;
  font-size: 16px;
}

.talk-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-talk {
  margin-top: 10px;
}

.talk-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

/* 検索フォーム・ボタン */

form input,form textarea {
  /* margin: 5px 0 15px; */
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
  cursor: pointer;
}
.search-form {
  text-align: center;
  padding-top: 32px;
  background-color: tomato;
}

.search-form .search-input {
  width: 400px;
  height: 50px;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 100px;
  height: 50px;
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  cursor: pointer;
  cursor: hand;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

.form-talk {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  cursor: pointer;
  cursor: hand;
}

.form-image {
  font-size: 12px;
  background-color: gray;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

.hidden {
  display: none;
}